EpicorConsole/Service References/Epicor.CustomerSvc/Customer81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Erp:BO:Customer" elementFormDefault="qualified" targetNamespace="Erp:BO:Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/Customer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/Customer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/Customer.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/Customer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListResult" nillable="true" type="q1:CustomerListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClauseCustomer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomerAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomCrdPool" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustBillTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustBank" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustChild" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustDfltDocType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustIC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustLabExpRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustMandate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomerDocs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustRestriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustUPSEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomerDiscPriceLst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomerFSPriceList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseGlbCustCred" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseNAMember" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePECustWhldHist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToRestriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToLabExpRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomerDocsSH" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToDiscPriceLst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToMFBill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToPriceLst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToUPSEml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustMFBill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseMangCust" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseShipToSrch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseCustomerPriceLst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseEntityGLC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseTaxExempt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetRowsResult" nillable="true" type="q2:CustomerTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBySysRowIDResult" nillable="true" type="q4:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q5:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBySysRowIDsResult" nillable="true" type="q6:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q7:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q8:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q9:UpdExtCustomerTableset" />
        <xs:element minOccurs="0" name="continueProcessingOnError" type="xs:boolean" />
        <xs:element minOccurs="0" name="rollbackParentOnChildError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ice" minOccurs="0" name="UpdateExtResult" nillable="true" type="q10:BOUpdErrorTableset" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q11:UpdExtCustomerTableset" />
        <xs:element minOccurs="0" name="errorsOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerGlobalFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
        <xs:element minOccurs="0" name="GlobalLock" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerGlobalFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerGlobalFieldsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToGlobalFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
        <xs:element minOccurs="0" name="ShiptoNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToGlobalFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShipToGlobalFieldsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustBillToGlobalFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
        <xs:element minOccurs="0" name="BTCustNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustBillToGlobalFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustBillToGlobalFieldsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowCustomerDetailUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowCustomerDetailUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustDfltInvoiceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipInvoiceType" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q12:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustDfltInvoiceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q13:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerChargeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipChargeCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q14:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerChargeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q15:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerFinCharges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipFinCharges" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q16:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerFinChargesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q17:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerReminderGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipReminderCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q18:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCustomerReminderGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q19:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDeferredRev">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipDeferredRev" type="xs:boolean" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q20:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDeferredRevResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q21:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAGIDDocTypeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agIDDocTypeCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q22:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAGIDDocTypeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q23:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeListCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q24:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeListCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q25:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMandateReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q26:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMandateReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q27:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySearchIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q28:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifySearchIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q29:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRACode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipRACode" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q30:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRACodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q31:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCreditHold">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q32:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCreditHoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDupCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custId" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vRowid" type="q33:guid" />
        <xs:element minOccurs="0" name="vAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vZip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDupCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="CheckDupCustomerResult" nillable="true" type="q34:CustomerListTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEFFieldLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="vCustType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vAddress3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBTName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBTAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBTAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBTAddress3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBTCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vBTState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckEFFieldLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRUC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q35:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRUCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q36:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVATFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q37:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVATFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckVATFormatResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="opMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q38:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgBTCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q39:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgBTCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q40:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q41:CustomerTableset" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q42:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgGlobalCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedGlobalCust" type="xs:boolean" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q43:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgGlobalCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q44:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgICTrader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedICTrader" type="xs:boolean" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q45:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChgICTraderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q46:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBTAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q47:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBTAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q48:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ETCAfterAddrVal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q49:CustomerTableset" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q50:ETCAddrValidationTableset" />
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ETCAfterAddrValResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q51:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ETCValidateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ETCValidateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ETCValidateAddressResult" nillable="true" type="q52:ETCAddrValidationTableset" />
        <xs:element minOccurs="0" name="StatusFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMandateReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMandateReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mandateReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddrElementList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddrElementListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addrElementList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q53:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q54:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAltShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipToNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MasterCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="MasterShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAltShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetAltShipToResult" nillable="true" type="q55:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opBankAccountList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillDayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billFreq" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillDayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billDayList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillToRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillToRefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBillToRefsResult" nillable="true" type="q56:BillToRefsTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCustID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withShipTo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCustIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetByCustIDResult" nillable="true" type="q57:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDataForMandate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDataForMandateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countrynum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustBillToForLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustBillToForLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetCustBillToForLinkResult" nillable="true" type="q58:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetCustomerResult" nillable="true" type="q59:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataForMandate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custnum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataForMandateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countrynum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetCustomerForLinkResult" nillable="true" type="q60:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTerritory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q61:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTerritoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q62:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisabledFields">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisabledFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlbCustomerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GlbCustNumList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlbCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetGlbCustomerListResult" nillable="true" type="q63:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
        <xs:element minOccurs="0" name="customClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListCustomResult" nillable="true" type="q64:CustomerListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFromSelectedKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q65:CustomerListTableset" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFromSelectedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q66:CustomerListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAltShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAltShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetNewAltShipToResult" nillable="true" type="q67:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentCustInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q68:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="parentCustID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentCustInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q69:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetShipToResult" nillable="true" type="q70:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToForLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToForLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetShipToForLinkResult" nillable="true" type="q71:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToTerritory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q72:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipToTerritoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q73:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlbCustomersExist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GlbCustomersExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCustomersExist" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbCustBillTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q74:GlbCustomerTableset" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q75:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbCustBillToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q76:GlbCustomerTableset" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q77:CustomerTableset" />
        <xs:element minOccurs="0" name="warnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q78:GlbCustomerTableset" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q79:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q80:GlbCustomerTableset" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q81:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="glbShipToNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q82:GlbCustomerTableset" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q83:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q84:GlbCustomerTableset" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q85:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOnePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seqNum" type="xs:int" />
        <xs:element minOccurs="0" name="moveDir" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOnePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="MoveOnePositionResult" nillable="true" type="q86:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOnePositionDisc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seqNum" type="xs:int" />
        <xs:element minOccurs="0" name="moveDir" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOnePositionDiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="MoveOnePositionDiscResult" nillable="true" type="q87:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeAltShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iProposedMasterCustID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iProposedMasterShipToNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q88:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeAltShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q89:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCreditCardOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipCreditCardOrder" type="xs:boolean" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q90:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCreditCardOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q91:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCustBankPayMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q92:CustomerTableset" />
        <xs:element minOccurs="0" name="iProposedPMUID" type="xs:int" />
        <xs:element minOccurs="0" name="iProposedBankID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCustBankPayMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q93:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCustICPrimary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q94:CustomerTableset" />
        <xs:element minOccurs="0" name="iProposedPrimary" type="xs:boolean" />
        <xs:element minOccurs="0" name="iProposedICCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCustICPrimaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q95:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCustomerTaxRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q96:CustomerTableset" />
        <xs:element minOccurs="0" name="iProposedTaxRgnCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeCustomerTaxRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q97:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofAltBT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q98:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofAltBTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q99:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankAcctID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankAcctDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="legalName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ibanCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creditorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofCustomerAddr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q100:CustomerTableset" />
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
        <xs:element minOccurs="0" name="ProposedVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AddrField" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofCustomerAddrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q101:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofShipToAddr">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q102:CustomerTableset" />
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
        <xs:element minOccurs="0" name="ShipToNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposedVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AddrField" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeofShipToAddrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q103:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeShipToTaxRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q104:CustomerTableset" />
        <xs:element minOccurs="0" name="iProposedTaxRgnCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="iShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeShipToTaxRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q105:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeVendorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q106:CustomerTableset" />
        <xs:element minOccurs="0" name="iProposedVendorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeVendorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q107:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateBankAccountChanging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankAccountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateBankAccountChangingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateDateChanging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dDateTo" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateDateChangingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateSignedDateChanging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signredDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateSignedDateChangingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateStatusChanging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="mandateReference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mandateStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMandateStatusChangingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbCustBillTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q108:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbCustBillToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q109:GlbCustomerTableset" />
        <xs:element minOccurs="0" name="vMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q110:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q111:GlbCustomerTableset" />
        <xs:element minOccurs="0" name="vMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="glbShipToNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q112:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q113:GlbCustomerTableset" />
        <xs:element minOccurs="0" name="vMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetShipToIntl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q114:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetShipToIntlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q115:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUPSQVEnable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipQVEnable" type="xs:boolean" />
        <xs:element minOccurs="0" name="ipUpdCustUPS" type="xs:boolean" />
        <xs:element minOccurs="0" name="ipUPDShipToUPS" type="xs:boolean" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q116:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUPSQVEnableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q117:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipToETCAfterAddrVal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q118:ETCAddrValidationTableset" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q119:CustomerTableset" />
        <xs:element minOccurs="0" name="ipCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="ipShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipToETCAfterAddrValResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q120:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipToETCValAddr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustNum" type="xs:int" />
        <xs:element minOccurs="0" name="ShipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipToETCValAddrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ShipToETCValAddrResult" nillable="true" type="q121:ETCAddrValidationTableset" />
        <xs:element minOccurs="0" name="StatusFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorFlag" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipToTerrSelectChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q122:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShipToTerrSelectChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q123:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipGlbCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q124:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipGlbCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q125:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlinkGlbCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbCustNum" type="xs:int" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q126:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlinkGlbCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="UnlinkGlbCustomerResult" nillable="true" type="q127:CustomerTableset" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q128:GlbCustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q129:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditTotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q130:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGlobalLimits">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q131:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGlobalLimitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q132:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipProposedCountry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateNAParentCreditPrc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCreditPrc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateNAParentCreditPrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateNAParentCreditPrcResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateNACreditSharedPrc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditSharedPrc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateNACreditSharedPrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateNACreditSharedPrcResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGlbNAParentCreditPrc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentCreditPrc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGlbNAParentCreditPrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateGlbNAParentCreditPrcResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGlbNACreditSharedPrc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditSharedPrc" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateGlbNACreditSharedPrcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateGlbNACreditSharedPrcResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePayBTFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPayBTFlag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipValCust" type="xs:boolean" />
        <xs:element minOccurs="0" name="ipValShipTo" type="xs:boolean" />
        <xs:element minOccurs="0" name="ipCustNum" type="xs:int" />
        <xs:element minOccurs="0" name="ipShipTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePayBTFlagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_terms" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTermsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipCountryNum" type="xs:int" />
        <xs:element minOccurs="0" name="ipBTCountryNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeDescListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorePartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartnerNum" type="xs:int" />
        <xs:element minOccurs="0" name="ipSearchID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorePartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StorePartnerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCountryISOCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCountryISOCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerCountryISOCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalCRMIntegrationIsEnabled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalCRMIntegrationIsEnabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalCRMIntegrationIsEnabledResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustCntWithExternalCRMEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustCntWithExternalCRMEnabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCustCntWithExternalCRMEnabledResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrdersCreditOverride">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btcustNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOrdersCreditOverrideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q133:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q134:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q135:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q136:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q137:CustomerTableset" />
        <xs:element minOccurs="0" name="partnerNum" type="xs:int" />
        <xs:element minOccurs="0" name="partnerType" type="xs:int" />
        <xs:element minOccurs="0" name="partnerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q138:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustBillTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q139:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustBillToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q140:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q141:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q142:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q143:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q144:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustDfltDocType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q145:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustDfltDocTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q146:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q147:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="icTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q148:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustLabExpRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q149:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustLabExpRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q150:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustMandate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q151:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="mandateType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustMandateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q152:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerDocs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q153:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerDocsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q154:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustRestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q155:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustRestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q156:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustUPSEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q157:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustUPSEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q158:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerDiscPriceLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q159:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerDiscPriceLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q160:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerFSPriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q161:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerFSPriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q162:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewGlbCustCred">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q163:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewGlbCustCredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q164:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q165:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q166:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q167:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q168:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToRestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q169:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToRestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q170:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToLabExpRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q171:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToLabExpRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q172:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerDocsSH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q173:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerDocsSHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q174:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToDiscPriceLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q175:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToDiscPriceLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q176:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToMFBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q177:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToMFBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q178:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToPriceLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q179:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToPriceLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q180:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToUPSEml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q181:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewShipToUPSEmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q182:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustMFBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q183:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustMFBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q184:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMangCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q185:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMangCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q186:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerPriceLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q187:CustomerTableset" />
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
        <xs:element minOccurs="0" name="shipToNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCustomerPriceLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q188:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEntityGLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q189:CustomerTableset" />
        <xs:element minOccurs="0" name="relatedToFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key6" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEntityGLCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q190:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTaxExempt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q191:CustomerTableset" />
        <xs:element minOccurs="0" name="relatedToFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTaxExemptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q192:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetByIDResult" nillable="true" type="q193:CustomerTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>