EpicorConsole/Service References/Epicor.PartTranSvc/PartTran1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Erp:BO:PartTran" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Erp:BO:PartTran" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Erp:BO:PartTran/Imports">
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd0" namespace="Erp:BO:PartTran" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Ice.Common" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Epicor.Data" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd5" namespace="http://epicor.com/UserDefinedColumns" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PartTranSvcContract_GetNewPartTran_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewPartTran" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetNewPartTran_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewPartTranResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetNewPartTran_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q1:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_DeleteByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByID" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_DeleteByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_DeleteByID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q2:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetByID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q3:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetList_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q4:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetRows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRows" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetRows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowsResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetRows_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q5:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetBySysRowID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowID" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetBySysRowID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetBySysRowID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q6:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetBySysRowIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDs" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetBySysRowIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySysRowIDsResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_GetBySysRowIDs_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q7:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_Update_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q8:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_UpdateExt_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExt" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_UpdateExt_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExtResponse" />
  </wsdl:message>
  <wsdl:message name="PartTranSvcContract_UpdateExt_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q9:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:portType name="PartTranSvcContract">
    <wsdl:operation name="GetNewPartTran">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetNewPartTran" message="tns:PartTranSvcContract_GetNewPartTran_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetNewPartTranResponse" message="tns:PartTranSvcContract_GetNewPartTran_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetNewPartTranEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_GetNewPartTran_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByID">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/DeleteByID" message="tns:PartTranSvcContract_DeleteByID_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/DeleteByIDResponse" message="tns:PartTranSvcContract_DeleteByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/DeleteByIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_DeleteByID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetByID" message="tns:PartTranSvcContract_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetByIDResponse" message="tns:PartTranSvcContract_GetByID_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetByIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_GetByID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetList" message="tns:PartTranSvcContract_GetList_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetListResponse" message="tns:PartTranSvcContract_GetList_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetListEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_GetList_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRows">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetRows" message="tns:PartTranSvcContract_GetRows_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetRowsResponse" message="tns:PartTranSvcContract_GetRows_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetRowsEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_GetRows_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySysRowID">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetBySysRowID" message="tns:PartTranSvcContract_GetBySysRowID_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetBySysRowIDResponse" message="tns:PartTranSvcContract_GetBySysRowID_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetBySysRowIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_GetBySysRowID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySysRowIDs">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetBySysRowIDs" message="tns:PartTranSvcContract_GetBySysRowIDs_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetBySysRowIDsResponse" message="tns:PartTranSvcContract_GetBySysRowIDs_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/GetBySysRowIDsEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_GetBySysRowIDs_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/Update" message="tns:PartTranSvcContract_Update_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/UpdateResponse" message="tns:PartTranSvcContract_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/UpdateEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_Update_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExt">
      <wsdl:input wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/UpdateExt" message="tns:PartTranSvcContract_UpdateExt_InputMessage" />
      <wsdl:output wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/UpdateExtResponse" message="tns:PartTranSvcContract_UpdateExt_OutputMessage" />
      <wsdl:fault wsaw:Action="Erp:BO:PartTran/PartTranSvcContract/UpdateExtEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:PartTranSvcContract_UpdateExt_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>