EpicorConsole/Service References/Epicor.PartTranSvc/PartTran85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Erp.Tablesets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/PartTran.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PartTranTableset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ice" base="q1:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartTran" nillable="true" type="tns:PartTranTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTranTableset" nillable="true" type="tns:PartTranTableset" />
  <xs:complexType name="PartTranTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartTranRow" nillable="true" type="tns:PartTranRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartTranTable" nillable="true" type="tns:PartTranTable" />
  <xs:complexType name="PartTranRow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ice" base="q2:IceRow">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABTUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActTranQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ActTransUOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActionNum" type="xs:int" />
          <xs:element minOccurs="0" name="AdditionNum" type="xs:int" />
          <xs:element minOccurs="0" name="AfterBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltExtCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlBurdenUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlLabUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AsOfDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AsOfSeq" type="xs:int" />
          <xs:element minOccurs="0" name="AssemblySeq" type="xs:int" />
          <xs:element minOccurs="0" name="AssemblySeq2" type="xs:int" />
          <xs:element minOccurs="0" name="AssemblySeqDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AssetNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BaseCostMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BegBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BeginQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="BinNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinNum2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinNumDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BitFlag" type="xs:int" />
          <xs:element minOccurs="0" name="BurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="CCMonth" type="xs:int" />
          <xs:element minOccurs="0" name="CCYear" type="xs:int" />
          <xs:element minOccurs="0" name="COSPostingReqd" type="xs:boolean" />
          <xs:element minOccurs="0" name="CallLine" type="xs:int" />
          <xs:element minOccurs="0" name="CallLineLineDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallNum" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnNames" type="tns:PartTranRowColumnOrder" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContractID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostMethodDisplay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Costed" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustNum" type="xs:int" />
          <xs:element minOccurs="0" name="CustNumBTName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustNumCustID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CycleSeq" type="xs:int" />
          <xs:element minOccurs="0" name="DIMDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DMRNum" type="xs:int" />
          <xs:element minOccurs="0" name="DMRNumPartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DUM2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimCode2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimCodeDimCodeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimConvFactor" type="xs:decimal" />
          <xs:element minOccurs="0" name="DimConvFactor2" type="xs:decimal" />
          <xs:element minOccurs="0" name="DisableFieldPart" type="xs:boolean" />
          <xs:element minOccurs="0" name="DispSysTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DispUOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisposalNum" type="xs:int" />
          <xs:element minOccurs="0" name="DropShipPackSlip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnableSerialNumbers" type="xs:boolean" />
          <xs:element minOccurs="0" name="EntryPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtBurCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtLbrCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtMtlBurCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtMtlBurdenCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtMtlCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtMtlLabCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtMtlMtlCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtMtlSubCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExtSubCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="FIFOAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIFODate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FIFOSeq" type="xs:int" />
          <xs:element minOccurs="0" name="FIFOSubSeq" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalCalendarID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FiscalPeriod" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYear" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYearSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromBinDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromPlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromWareHouseDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullPhysical" type="xs:boolean" />
          <xs:element minOccurs="0" name="GLTranAmt" type="xs:decimal" />
          <xs:element minOccurs="0" name="GLTranDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GLTrans" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvAdjReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvAdjSrc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InventoryTrans" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvoiceLine" type="xs:int" />
          <xs:element minOccurs="0" name="InvoiceNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvtyUOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvtyUOM2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssuedComplete" type="xs:boolean" />
          <xs:element minOccurs="0" name="JobBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobNum2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobNumPartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobSeq" type="xs:int" />
          <xs:element minOccurs="0" name="JobSeq2" type="xs:int" />
          <xs:element minOccurs="0" name="JobSeqType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JournalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JournalNum" type="xs:int" />
          <xs:element minOccurs="0" name="LCFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="LbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="LegalNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberPrefixList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberReadOnlyFields" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberYear" type="xs:int" />
          <xs:element minOccurs="0" name="LoanFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LotNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LotNum2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MatNum" type="xs:int" />
          <xs:element minOccurs="0" name="MatNumLineDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MscNum" type="xs:int" />
          <xs:element minOccurs="0" name="MtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlBurdenUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlLabUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlQueueRowId" type="ser:guid" />
          <xs:element minOccurs="0" name="MtlSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MultiEndParts" type="xs:boolean" />
          <xs:element minOccurs="0" name="NonConfID" type="xs:int" />
          <xs:element minOccurs="0" name="ODCUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="OnHandQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderLine" type="xs:int" />
          <xs:element minOccurs="0" name="OrderLineLineDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNum" type="xs:int" />
          <xs:element minOccurs="0" name="OrderNumCardMemberName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderRelNum" type="xs:int" />
          <xs:element minOccurs="0" name="OtherDivValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="OverRideCosts" type="xs:boolean" />
          <xs:element minOccurs="0" name="PBInvNum" type="xs:int" />
          <xs:element minOccurs="0" name="PCID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PCID2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PCIDCollapseCounter" type="xs:int" />
          <xs:element minOccurs="0" name="POLine" type="xs:int" />
          <xs:element minOccurs="0" name="POLineLineDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POLinePartNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POLineVenPartNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PONum" type="xs:int" />
          <xs:element minOccurs="0" name="POReceiptQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="PORelNum" type="xs:int" />
          <xs:element minOccurs="0" name="POUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="PackLine" type="xs:int" />
          <xs:element minOccurs="0" name="PackLineLineDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackNum" type="xs:int" />
          <xs:element minOccurs="0" name="PackNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackSlip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionAsm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionJH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionSP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartLotPartLotDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumAsm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumIUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumJH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumPartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumPricePerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumSP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumSalesUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumSellingFactor" type="xs:decimal" />
          <xs:element minOccurs="0" name="PartNumTrackDimension" type="xs:boolean" />
          <xs:element minOccurs="0" name="PartNumTrackLots" type="xs:boolean" />
          <xs:element minOccurs="0" name="PartNumTrackSerialNum" type="xs:boolean" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plant2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantCostValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantTranNum" type="xs:int" />
          <xs:element minOccurs="0" name="PostedToGL" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProjProcessed" type="xs:boolean" />
          <xs:element minOccurs="0" name="PurPoint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QtyAvailToComplete" type="xs:decimal" />
          <xs:element minOccurs="0" name="QtyBearing" type="xs:boolean" />
          <xs:element minOccurs="0" name="QtyCompleted" type="xs:decimal" />
          <xs:element minOccurs="0" name="RMADisp" type="xs:int" />
          <xs:element minOccurs="0" name="RMALine" type="xs:int" />
          <xs:element minOccurs="0" name="RMALineLineDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RMANum" type="xs:int" />
          <xs:element minOccurs="0" name="RMAReceipt" type="xs:int" />
          <xs:element minOccurs="0" name="ReconcileNum" type="xs:int" />
          <xs:element minOccurs="0" name="RefCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevertID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevertStatus" type="xs:int" />
          <xs:element minOccurs="0" name="RevisionNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisionNumRevDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisionNumRevShortDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalvageQtyToDate" type="xs:decimal" />
          <xs:element minOccurs="0" name="SerialNoTempTranID" type="xs:int" />
          <xs:element minOccurs="0" name="SubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="SysDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SysRevID" type="xs:long" />
          <xs:element minOccurs="0" name="SysTime" type="xs:int" />
          <xs:element minOccurs="0" name="ThisTranQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TranDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TranDocTypeID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TranNum" type="xs:int" />
          <xs:element minOccurs="0" name="TranQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranRefType" type="xs:int" />
          <xs:element minOccurs="0" name="TranReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TranType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TreeDisplay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VarTarget" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNum" type="xs:int" />
          <xs:element minOccurs="0" name="VendorNumAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumAddress3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumDefaultFOB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumTermsCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumVendorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumZIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumAddress3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumPrimPCon" type="xs:int" />
          <xs:element minOccurs="0" name="VendorPPNumState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumZip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareHouse2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareHouseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dummyKeyField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTranRow" nillable="true" type="tns:PartTranRow" />
  <xs:simpleType name="PartTranRowColumnOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Company" />
      <xs:enumeration value="SysDate" />
      <xs:enumeration value="SysTime" />
      <xs:enumeration value="TranNum" />
      <xs:enumeration value="PartNum" />
      <xs:enumeration value="WareHouseCode" />
      <xs:enumeration value="BinNum" />
      <xs:enumeration value="TranClass" />
      <xs:enumeration value="TranType" />
      <xs:enumeration value="InventoryTrans" />
      <xs:enumeration value="TranDate" />
      <xs:enumeration value="TranQty" />
      <xs:enumeration value="UM" />
      <xs:enumeration value="MtlUnitCost" />
      <xs:enumeration value="LbrUnitCost" />
      <xs:enumeration value="BurUnitCost" />
      <xs:enumeration value="SubUnitCost" />
      <xs:enumeration value="MtlBurUnitCost" />
      <xs:enumeration value="ExtCost" />
      <xs:enumeration value="CostMethod" />
      <xs:enumeration value="JobNum" />
      <xs:enumeration value="AssemblySeq" />
      <xs:enumeration value="JobSeqType" />
      <xs:enumeration value="JobSeq" />
      <xs:enumeration value="PackType" />
      <xs:enumeration value="PackNum" />
      <xs:enumeration value="PackLine" />
      <xs:enumeration value="PONum" />
      <xs:enumeration value="POLine" />
      <xs:enumeration value="PORelNum" />
      <xs:enumeration value="WareHouse2" />
      <xs:enumeration value="BinNum2" />
      <xs:enumeration value="OrderNum" />
      <xs:enumeration value="OrderLine" />
      <xs:enumeration value="OrderRelNum" />
      <xs:enumeration value="EntryPerson" />
      <xs:enumeration value="TranReference" />
      <xs:enumeration value="PartDescription" />
      <xs:enumeration value="RevisionNum" />
      <xs:enumeration value="VendorNum" />
      <xs:enumeration value="PurPoint" />
      <xs:enumeration value="POReceiptQty" />
      <xs:enumeration value="POUnitCost" />
      <xs:enumeration value="PackSlip" />
      <xs:enumeration value="InvoiceNum" />
      <xs:enumeration value="InvoiceLine" />
      <xs:enumeration value="InvAdjSrc" />
      <xs:enumeration value="InvAdjReason" />
      <xs:enumeration value="LotNum" />
      <xs:enumeration value="DimCode" />
      <xs:enumeration value="DUM" />
      <xs:enumeration value="DimConvFactor" />
      <xs:enumeration value="LotNum2" />
      <xs:enumeration value="DimCode2" />
      <xs:enumeration value="DUM2" />
      <xs:enumeration value="DimConvFactor2" />
      <xs:enumeration value="GLTrans" />
      <xs:enumeration value="PostedToGL" />
      <xs:enumeration value="FiscalYear" />
      <xs:enumeration value="FiscalPeriod" />
      <xs:enumeration value="JournalNum" />
      <xs:enumeration value="Costed" />
      <xs:enumeration value="DMRNum" />
      <xs:enumeration value="ActionNum" />
      <xs:enumeration value="RMANum" />
      <xs:enumeration value="COSPostingReqd" />
      <xs:enumeration value="JournalCode" />
      <xs:enumeration value="Plant" />
      <xs:enumeration value="Plant2" />
      <xs:enumeration value="CallNum" />
      <xs:enumeration value="CallLine" />
      <xs:enumeration value="MatNum" />
      <xs:enumeration value="JobNum2" />
      <xs:enumeration value="AssemblySeq2" />
      <xs:enumeration value="JobSeq2" />
      <xs:enumeration value="CustNum" />
      <xs:enumeration value="RMALine" />
      <xs:enumeration value="RMAReceipt" />
      <xs:enumeration value="RMADisp" />
      <xs:enumeration value="OtherDivValue" />
      <xs:enumeration value="PlantTranNum" />
      <xs:enumeration value="NonConfID" />
      <xs:enumeration value="MtlMtlUnitCost" />
      <xs:enumeration value="MtlLabUnitCost" />
      <xs:enumeration value="MtlSubUnitCost" />
      <xs:enumeration value="MtlBurdenUnitCost" />
      <xs:enumeration value="RefType" />
      <xs:enumeration value="RefCode" />
      <xs:enumeration value="LegalNumber" />
      <xs:enumeration value="BeginQty" />
      <xs:enumeration value="AfterQty" />
      <xs:enumeration value="BegBurUnitCost" />
      <xs:enumeration value="BegLbrUnitCost" />
      <xs:enumeration value="BegMtlBurUnitCost" />
      <xs:enumeration value="BegMtlUnitCost" />
      <xs:enumeration value="BegSubUnitCost" />
      <xs:enumeration value="AfterBurUnitCost" />
      <xs:enumeration value="AfterLbrUnitCost" />
      <xs:enumeration value="AfterMtlBurUnitCost" />
      <xs:enumeration value="AfterMtlUnitCost" />
      <xs:enumeration value="AfterSubUnitCost" />
      <xs:enumeration value="PlantCostValue" />
      <xs:enumeration value="EmpID" />
      <xs:enumeration value="ReconcileNum" />
      <xs:enumeration value="CostID" />
      <xs:enumeration value="FIFODate" />
      <xs:enumeration value="FIFOSeq" />
      <xs:enumeration value="ActTranQty" />
      <xs:enumeration value="ActTransUOM" />
      <xs:enumeration value="InvtyUOM" />
      <xs:enumeration value="InvtyUOM2" />
      <xs:enumeration value="FIFOAction" />
      <xs:enumeration value="FiscalYearSuffix" />
      <xs:enumeration value="FiscalCalendarID" />
      <xs:enumeration value="BinType" />
      <xs:enumeration value="CCYear" />
      <xs:enumeration value="CCMonth" />
      <xs:enumeration value="CycleSeq" />
      <xs:enumeration value="ABTUID" />
      <xs:enumeration value="BaseCostMethod" />
      <xs:enumeration value="RevertStatus" />
      <xs:enumeration value="RevertID" />
      <xs:enumeration value="DropShipPackSlip" />
      <xs:enumeration value="VarTarget" />
      <xs:enumeration value="FIFOSubSeq" />
      <xs:enumeration value="AltMtlUnitCost" />
      <xs:enumeration value="AltLbrUnitCost" />
      <xs:enumeration value="AltBurUnitCost" />
      <xs:enumeration value="AltSubUnitCost" />
      <xs:enumeration value="AltMtlBurUnitCost" />
      <xs:enumeration value="AltExtCost" />
      <xs:enumeration value="AltMtlMtlUnitCost" />
      <xs:enumeration value="AltMtlLabUnitCost" />
      <xs:enumeration value="AltMtlSubUnitCost" />
      <xs:enumeration value="AltMtlBurdenUnitCost" />
      <xs:enumeration value="TranDocTypeID" />
      <xs:enumeration value="PBInvNum" />
      <xs:enumeration value="LoanFlag" />
      <xs:enumeration value="AssetNum" />
      <xs:enumeration value="AdditionNum" />
      <xs:enumeration value="DisposalNum" />
      <xs:enumeration value="ProjProcessed" />
      <xs:enumeration value="AsOfDate" />
      <xs:enumeration value="AsOfSeq" />
      <xs:enumeration value="MscNum" />
      <xs:enumeration value="ODCUnitCost" />
      <xs:enumeration value="SysRevID" />
      <xs:enumeration value="SysRowID" />
      <xs:enumeration value="TranRefType" />
      <xs:enumeration value="PCID" />
      <xs:enumeration value="PCIDCollapseCounter" />
      <xs:enumeration value="PCID2" />
      <xs:enumeration value="ContractID" />
      <xs:enumeration value="LCFlag" />
      <xs:enumeration value="ExtMtlCost" />
      <xs:enumeration value="ExtLbrCost" />
      <xs:enumeration value="ExtBurCost" />
      <xs:enumeration value="ExtSubCost" />
      <xs:enumeration value="ExtMtlBurCost" />
      <xs:enumeration value="ExtMtlMtlCost" />
      <xs:enumeration value="ExtMtlLabCost" />
      <xs:enumeration value="ExtMtlSubCost" />
      <xs:enumeration value="ExtMtlBurdenCost" />
      <xs:enumeration value="CostMethodDisplay" />
      <xs:enumeration value="DisableFieldPart" />
      <xs:enumeration value="DispSysTime" />
      <xs:enumeration value="DispUOM" />
      <xs:enumeration value="dummyKeyField" />
      <xs:enumeration value="EnableSerialNumbers" />
      <xs:enumeration value="FullPhysical" />
      <xs:enumeration value="GLTranAmt" />
      <xs:enumeration value="GLTranDate" />
      <xs:enumeration value="InvBurUnitCost" />
      <xs:enumeration value="InvLbrUnitCost" />
      <xs:enumeration value="InvMtlBurUnitCost" />
      <xs:enumeration value="InvMtlUnitCost" />
      <xs:enumeration value="InvSubUnitCost" />
      <xs:enumeration value="IssuedComplete" />
      <xs:enumeration value="JobBurUnitCost" />
      <xs:enumeration value="JobLbrUnitCost" />
      <xs:enumeration value="JobMtlBurUnitCost" />
      <xs:enumeration value="JobMtlUnitCost" />
      <xs:enumeration value="JobSubUnitCost" />
      <xs:enumeration value="LegalNumberNumber" />
      <xs:enumeration value="LegalNumberPrefix" />
      <xs:enumeration value="LegalNumberPrefixList" />
      <xs:enumeration value="LegalNumberReadOnlyFields" />
      <xs:enumeration value="LegalNumberYear" />
      <xs:enumeration value="MtlLbrUnitCost" />
      <xs:enumeration value="MtlQueueRowId" />
      <xs:enumeration value="MultiEndParts" />
      <xs:enumeration value="OnHandQty" />
      <xs:enumeration value="OverRideCosts" />
      <xs:enumeration value="PartDescriptionAsm" />
      <xs:enumeration value="PartDescriptionJH" />
      <xs:enumeration value="PartDescriptionMS" />
      <xs:enumeration value="PartDescriptionSP" />
      <xs:enumeration value="PartNumAsm" />
      <xs:enumeration value="PartNumJH" />
      <xs:enumeration value="PartNumMS" />
      <xs:enumeration value="PartNumSP" />
      <xs:enumeration value="QtyAvailToComplete" />
      <xs:enumeration value="QtyBearing" />
      <xs:enumeration value="QtyCompleted" />
      <xs:enumeration value="RevisionNumRevDescription" />
      <xs:enumeration value="RevisionNumRevShortDesc" />
      <xs:enumeration value="SalvageQtyToDate" />
      <xs:enumeration value="SerialNoTempTranID" />
      <xs:enumeration value="ThisTranQty" />
      <xs:enumeration value="TranAmount" />
      <xs:enumeration value="TreeDisplay" />
      <xs:enumeration value="DIMDescription" />
      <xs:enumeration value="BitFlag" />
      <xs:enumeration value="AssemblySeqDescription" />
      <xs:enumeration value="BinNumDescription" />
      <xs:enumeration value="CallLineLineDesc" />
      <xs:enumeration value="CustNumCustID" />
      <xs:enumeration value="CustNumBTName" />
      <xs:enumeration value="CustNumName" />
      <xs:enumeration value="DimCodeDimCodeDescription" />
      <xs:enumeration value="DMRNumPartDescription" />
      <xs:enumeration value="FromBinDescription" />
      <xs:enumeration value="FromPlantName" />
      <xs:enumeration value="FromWareHouseDescription" />
      <xs:enumeration value="InvoiceNumDescription" />
      <xs:enumeration value="JobNumPartDescription" />
      <xs:enumeration value="MatNumLineDesc" />
      <xs:enumeration value="OrderLineLineDesc" />
      <xs:enumeration value="OrderNumCardMemberName" />
      <xs:enumeration value="OrderNumCurrencyCode" />
      <xs:enumeration value="PackLineLineDesc" />
      <xs:enumeration value="PackNumName" />
      <xs:enumeration value="PartLotPartLotDescription" />
      <xs:enumeration value="PartNumSellingFactor" />
      <xs:enumeration value="PartNumTrackSerialNum" />
      <xs:enumeration value="PartNumTrackDimension" />
      <xs:enumeration value="PartNumTrackLots" />
      <xs:enumeration value="PartNumIUM" />
      <xs:enumeration value="PartNumPartDescription" />
      <xs:enumeration value="PartNumSalesUM" />
      <xs:enumeration value="PartNumPricePerCode" />
      <xs:enumeration value="PlantName" />
      <xs:enumeration value="POLineVenPartNum" />
      <xs:enumeration value="POLinePartNum" />
      <xs:enumeration value="POLineLineDesc" />
      <xs:enumeration value="RMALineLineDesc" />
      <xs:enumeration value="VendorNumName" />
      <xs:enumeration value="VendorNumAddress3" />
      <xs:enumeration value="VendorNumDefaultFOB" />
      <xs:enumeration value="VendorNumCurrencyCode" />
      <xs:enumeration value="VendorNumState" />
      <xs:enumeration value="VendorNumAddress1" />
      <xs:enumeration value="VendorNumAddress2" />
      <xs:enumeration value="VendorNumVendorID" />
      <xs:enumeration value="VendorNumCountry" />
      <xs:enumeration value="VendorNumCity" />
      <xs:enumeration value="VendorNumZIP" />
      <xs:enumeration value="VendorNumTermsCode" />
      <xs:enumeration value="VendorPPNumAddress1" />
      <xs:enumeration value="VendorPPNumAddress2" />
      <xs:enumeration value="VendorPPNumPrimPCon" />
      <xs:enumeration value="VendorPPNumAddress3" />
      <xs:enumeration value="VendorPPNumCountry" />
      <xs:enumeration value="VendorPPNumState" />
      <xs:enumeration value="VendorPPNumZip" />
      <xs:enumeration value="VendorPPNumCity" />
      <xs:enumeration value="VendorPPNumName" />
      <xs:enumeration value="WarehouseDescription" />
      <xs:enumeration value="RowMod" />
      <xs:enumeration value="SpecifiedProperties" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PartTranRowColumnOrder" nillable="true" type="tns:PartTranRowColumnOrder" />
  <xs:complexType name="PartTranListTableset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Ice" base="q3:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartTranList" nillable="true" type="tns:PartTranListTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTranListTableset" nillable="true" type="tns:PartTranListTableset" />
  <xs:complexType name="PartTranListTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartTranListRow" nillable="true" type="tns:PartTranListRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartTranListTable" nillable="true" type="tns:PartTranListTable" />
  <xs:complexType name="PartTranListRow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Ice" base="q4:IceRow">
        <xs:sequence>
          <xs:element minOccurs="0" name="ABTUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActTranQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="ActTransUOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActionNum" type="xs:int" />
          <xs:element minOccurs="0" name="AdditionNum" type="xs:int" />
          <xs:element minOccurs="0" name="AfterBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="AfterSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltExtCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlBurdenUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlLabUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AltSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="AsOfDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AsOfSeq" type="xs:int" />
          <xs:element minOccurs="0" name="AssemblySeq" type="xs:int" />
          <xs:element minOccurs="0" name="AssemblySeq2" type="xs:int" />
          <xs:element minOccurs="0" name="AssetNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BaseCostMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BegBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BegSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="BeginQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="BinNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinNum2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinNumDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BinType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="CCMonth" type="xs:int" />
          <xs:element minOccurs="0" name="CCYear" type="xs:int" />
          <xs:element minOccurs="0" name="COSPostingReqd" type="xs:boolean" />
          <xs:element minOccurs="0" name="CallLine" type="xs:int" />
          <xs:element minOccurs="0" name="CallNum" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnNames" type="tns:PartTranListRowColumnOrder" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CostMethodDisplay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Costed" type="xs:boolean" />
          <xs:element minOccurs="0" name="CustNum" type="xs:int" />
          <xs:element minOccurs="0" name="CycleSeq" type="xs:int" />
          <xs:element minOccurs="0" name="DIMDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DMRNum" type="xs:int" />
          <xs:element minOccurs="0" name="DMRNumPartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DUM2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimCode2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimCodeDimCodeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DimConvFactor" type="xs:decimal" />
          <xs:element minOccurs="0" name="DimConvFactor2" type="xs:decimal" />
          <xs:element minOccurs="0" name="DisableFieldPart" type="xs:boolean" />
          <xs:element minOccurs="0" name="DispSysTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DispUOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisposalNum" type="xs:int" />
          <xs:element minOccurs="0" name="DropShipPackSlip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmpID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntryPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="FIFOAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FIFODate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FIFOSeq" type="xs:int" />
          <xs:element minOccurs="0" name="FIFOSubSeq" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalCalendarID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FiscalPeriod" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYear" type="xs:int" />
          <xs:element minOccurs="0" name="FiscalYearSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromBinDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromPlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromWareHouseDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullPhysical" type="xs:boolean" />
          <xs:element minOccurs="0" name="GLTranAmt" type="xs:decimal" />
          <xs:element minOccurs="0" name="GLTranDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="GLTrans" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvAdjReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvAdjSrc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="InventoryTrans" type="xs:boolean" />
          <xs:element minOccurs="0" name="InvoiceLine" type="xs:int" />
          <xs:element minOccurs="0" name="InvoiceNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvtyUOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvtyUOM2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssuedComplete" type="xs:boolean" />
          <xs:element minOccurs="0" name="JobBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobMtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JobNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobNum2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobNumPartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobSeq" type="xs:int" />
          <xs:element minOccurs="0" name="JobSeq2" type="xs:int" />
          <xs:element minOccurs="0" name="JobSeqType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="JournalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JournalNum" type="xs:int" />
          <xs:element minOccurs="0" name="LbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="LegalNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberPrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberPrefixList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberReadOnlyFields" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalNumberYear" type="xs:int" />
          <xs:element minOccurs="0" name="LoanFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LotNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LotNum2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MatNum" type="xs:int" />
          <xs:element minOccurs="0" name="MscNum" type="xs:int" />
          <xs:element minOccurs="0" name="MtlBurUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlBurdenUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlLabUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlLbrUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlMtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlQueueRowId" type="ser:guid" />
          <xs:element minOccurs="0" name="MtlSubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MtlUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="MultiEndParts" type="xs:boolean" />
          <xs:element minOccurs="0" name="NonConfID" type="xs:int" />
          <xs:element minOccurs="0" name="OnHandQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderLine" type="xs:int" />
          <xs:element minOccurs="0" name="OrderNum" type="xs:int" />
          <xs:element minOccurs="0" name="OrderNumCardMemberName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderRelNum" type="xs:int" />
          <xs:element minOccurs="0" name="OtherDivValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="OverRideCosts" type="xs:boolean" />
          <xs:element minOccurs="0" name="PBInvNum" type="xs:int" />
          <xs:element minOccurs="0" name="POLine" type="xs:int" />
          <xs:element minOccurs="0" name="PONum" type="xs:int" />
          <xs:element minOccurs="0" name="POReceiptQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="PORelNum" type="xs:int" />
          <xs:element minOccurs="0" name="POUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="PackLine" type="xs:int" />
          <xs:element minOccurs="0" name="PackNum" type="xs:int" />
          <xs:element minOccurs="0" name="PackNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackSlip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionAsm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionJH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartDescriptionSP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartLotPartLotDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumAsm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumIUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumJH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumPartDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumPricePerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumSP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumSalesUM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartNumSellingFactor" type="xs:decimal" />
          <xs:element minOccurs="0" name="PartNumTrackDimension" type="xs:boolean" />
          <xs:element minOccurs="0" name="PartNumTrackLots" type="xs:boolean" />
          <xs:element minOccurs="0" name="PartNumTrackSerialNum" type="xs:boolean" />
          <xs:element minOccurs="0" name="Plant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Plant2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantCostValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="PlantName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlantTranNum" type="xs:int" />
          <xs:element minOccurs="0" name="PostedToGL" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProjProcessed" type="xs:boolean" />
          <xs:element minOccurs="0" name="PurPoint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QtyAvailToComplete" type="xs:decimal" />
          <xs:element minOccurs="0" name="QtyBearing" type="xs:boolean" />
          <xs:element minOccurs="0" name="QtyCompleted" type="xs:decimal" />
          <xs:element minOccurs="0" name="RMADisp" type="xs:int" />
          <xs:element minOccurs="0" name="RMALine" type="xs:int" />
          <xs:element minOccurs="0" name="RMANum" type="xs:int" />
          <xs:element minOccurs="0" name="RMAReceipt" type="xs:int" />
          <xs:element minOccurs="0" name="ReconcileNum" type="xs:int" />
          <xs:element minOccurs="0" name="RefCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RefType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevertID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevertStatus" type="xs:int" />
          <xs:element minOccurs="0" name="RevisionNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisionNumRevDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RevisionNumRevShortDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SalvageQtyToDate" type="xs:decimal" />
          <xs:element minOccurs="0" name="SerialNoTempTranID" type="xs:int" />
          <xs:element minOccurs="0" name="SubUnitCost" type="xs:decimal" />
          <xs:element minOccurs="0" name="SysDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SysRevID" type="xs:long" />
          <xs:element minOccurs="0" name="SysTime" type="xs:int" />
          <xs:element minOccurs="0" name="ThisTranQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TranDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TranDocTypeID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TranNum" type="xs:int" />
          <xs:element minOccurs="0" name="TranQty" type="xs:decimal" />
          <xs:element minOccurs="0" name="TranReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TranType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TreeDisplay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VarTarget" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNum" type="xs:int" />
          <xs:element minOccurs="0" name="VendorNumAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumAddress3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumDefaultFOB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumTermsCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumVendorID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorNumZIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumAddress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumAddress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumAddress3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumPrimPCon" type="xs:int" />
          <xs:element minOccurs="0" name="VendorPPNumState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorPPNumZip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareHouse2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WareHouseCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dummyKeyField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartTranListRow" nillable="true" type="tns:PartTranListRow" />
  <xs:simpleType name="PartTranListRowColumnOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Company" />
      <xs:enumeration value="SysDate" />
      <xs:enumeration value="SysTime" />
      <xs:enumeration value="TranNum" />
      <xs:enumeration value="PartNum" />
      <xs:enumeration value="WareHouseCode" />
      <xs:enumeration value="BinNum" />
      <xs:enumeration value="TranClass" />
      <xs:enumeration value="TranType" />
      <xs:enumeration value="InventoryTrans" />
      <xs:enumeration value="TranDate" />
      <xs:enumeration value="TranQty" />
      <xs:enumeration value="UM" />
      <xs:enumeration value="MtlUnitCost" />
      <xs:enumeration value="LbrUnitCost" />
      <xs:enumeration value="BurUnitCost" />
      <xs:enumeration value="SubUnitCost" />
      <xs:enumeration value="MtlBurUnitCost" />
      <xs:enumeration value="ExtCost" />
      <xs:enumeration value="CostMethod" />
      <xs:enumeration value="JobNum" />
      <xs:enumeration value="AssemblySeq" />
      <xs:enumeration value="JobSeqType" />
      <xs:enumeration value="JobSeq" />
      <xs:enumeration value="PackType" />
      <xs:enumeration value="PackNum" />
      <xs:enumeration value="PackLine" />
      <xs:enumeration value="PONum" />
      <xs:enumeration value="POLine" />
      <xs:enumeration value="PORelNum" />
      <xs:enumeration value="WareHouse2" />
      <xs:enumeration value="BinNum2" />
      <xs:enumeration value="OrderNum" />
      <xs:enumeration value="OrderLine" />
      <xs:enumeration value="OrderRelNum" />
      <xs:enumeration value="EntryPerson" />
      <xs:enumeration value="TranReference" />
      <xs:enumeration value="PartDescription" />
      <xs:enumeration value="RevisionNum" />
      <xs:enumeration value="VendorNum" />
      <xs:enumeration value="PurPoint" />
      <xs:enumeration value="POReceiptQty" />
      <xs:enumeration value="POUnitCost" />
      <xs:enumeration value="PackSlip" />
      <xs:enumeration value="InvoiceNum" />
      <xs:enumeration value="InvoiceLine" />
      <xs:enumeration value="InvAdjSrc" />
      <xs:enumeration value="InvAdjReason" />
      <xs:enumeration value="LotNum" />
      <xs:enumeration value="DimCode" />
      <xs:enumeration value="DUM" />
      <xs:enumeration value="DimConvFactor" />
      <xs:enumeration value="LotNum2" />
      <xs:enumeration value="DimCode2" />
      <xs:enumeration value="DUM2" />
      <xs:enumeration value="DimConvFactor2" />
      <xs:enumeration value="GLTrans" />
      <xs:enumeration value="PostedToGL" />
      <xs:enumeration value="FiscalYear" />
      <xs:enumeration value="FiscalPeriod" />
      <xs:enumeration value="JournalNum" />
      <xs:enumeration value="Costed" />
      <xs:enumeration value="DMRNum" />
      <xs:enumeration value="ActionNum" />
      <xs:enumeration value="RMANum" />
      <xs:enumeration value="COSPostingReqd" />
      <xs:enumeration value="JournalCode" />
      <xs:enumeration value="Plant" />
      <xs:enumeration value="Plant2" />
      <xs:enumeration value="CallNum" />
      <xs:enumeration value="CallLine" />
      <xs:enumeration value="MatNum" />
      <xs:enumeration value="JobNum2" />
      <xs:enumeration value="AssemblySeq2" />
      <xs:enumeration value="JobSeq2" />
      <xs:enumeration value="CustNum" />
      <xs:enumeration value="RMALine" />
      <xs:enumeration value="RMAReceipt" />
      <xs:enumeration value="RMADisp" />
      <xs:enumeration value="OtherDivValue" />
      <xs:enumeration value="PlantTranNum" />
      <xs:enumeration value="NonConfID" />
      <xs:enumeration value="MtlMtlUnitCost" />
      <xs:enumeration value="MtlLabUnitCost" />
      <xs:enumeration value="MtlSubUnitCost" />
      <xs:enumeration value="MtlBurdenUnitCost" />
      <xs:enumeration value="RefType" />
      <xs:enumeration value="RefCode" />
      <xs:enumeration value="LegalNumber" />
      <xs:enumeration value="BeginQty" />
      <xs:enumeration value="AfterQty" />
      <xs:enumeration value="BegBurUnitCost" />
      <xs:enumeration value="BegLbrUnitCost" />
      <xs:enumeration value="BegMtlBurUnitCost" />
      <xs:enumeration value="BegMtlUnitCost" />
      <xs:enumeration value="BegSubUnitCost" />
      <xs:enumeration value="AfterBurUnitCost" />
      <xs:enumeration value="AfterLbrUnitCost" />
      <xs:enumeration value="AfterMtlBurUnitCost" />
      <xs:enumeration value="AfterMtlUnitCost" />
      <xs:enumeration value="AfterSubUnitCost" />
      <xs:enumeration value="PlantCostValue" />
      <xs:enumeration value="EmpID" />
      <xs:enumeration value="ReconcileNum" />
      <xs:enumeration value="CostID" />
      <xs:enumeration value="FIFODate" />
      <xs:enumeration value="FIFOSeq" />
      <xs:enumeration value="ActTranQty" />
      <xs:enumeration value="ActTransUOM" />
      <xs:enumeration value="InvtyUOM" />
      <xs:enumeration value="InvtyUOM2" />
      <xs:enumeration value="FIFOAction" />
      <xs:enumeration value="FiscalYearSuffix" />
      <xs:enumeration value="FiscalCalendarID" />
      <xs:enumeration value="BinType" />
      <xs:enumeration value="CCYear" />
      <xs:enumeration value="CCMonth" />
      <xs:enumeration value="CycleSeq" />
      <xs:enumeration value="ABTUID" />
      <xs:enumeration value="BaseCostMethod" />
      <xs:enumeration value="RevertStatus" />
      <xs:enumeration value="RevertID" />
      <xs:enumeration value="DropShipPackSlip" />
      <xs:enumeration value="VarTarget" />
      <xs:enumeration value="FIFOSubSeq" />
      <xs:enumeration value="AltMtlUnitCost" />
      <xs:enumeration value="AltLbrUnitCost" />
      <xs:enumeration value="AltBurUnitCost" />
      <xs:enumeration value="AltSubUnitCost" />
      <xs:enumeration value="AltMtlBurUnitCost" />
      <xs:enumeration value="AltExtCost" />
      <xs:enumeration value="AltMtlMtlUnitCost" />
      <xs:enumeration value="AltMtlLabUnitCost" />
      <xs:enumeration value="AltMtlSubUnitCost" />
      <xs:enumeration value="AltMtlBurdenUnitCost" />
      <xs:enumeration value="TranDocTypeID" />
      <xs:enumeration value="PBInvNum" />
      <xs:enumeration value="LoanFlag" />
      <xs:enumeration value="AssetNum" />
      <xs:enumeration value="AdditionNum" />
      <xs:enumeration value="DisposalNum" />
      <xs:enumeration value="ProjProcessed" />
      <xs:enumeration value="AsOfDate" />
      <xs:enumeration value="AsOfSeq" />
      <xs:enumeration value="MscNum" />
      <xs:enumeration value="SysRevID" />
      <xs:enumeration value="SysRowID" />
      <xs:enumeration value="DIMDescription" />
      <xs:enumeration value="CostMethodDisplay" />
      <xs:enumeration value="QtyCompleted" />
      <xs:enumeration value="OverRideCosts" />
      <xs:enumeration value="InvMtlUnitCost" />
      <xs:enumeration value="InvBurUnitCost" />
      <xs:enumeration value="InvMtlBurUnitCost" />
      <xs:enumeration value="InvSubUnitCost" />
      <xs:enumeration value="LegalNumberYear" />
      <xs:enumeration value="LegalNumberPrefix" />
      <xs:enumeration value="LegalNumberNumber" />
      <xs:enumeration value="LegalNumberPrefixList" />
      <xs:enumeration value="LegalNumberReadOnlyFields" />
      <xs:enumeration value="PartNumJH" />
      <xs:enumeration value="PartNumAsm" />
      <xs:enumeration value="PartNumMS" />
      <xs:enumeration value="PartNumSP" />
      <xs:enumeration value="PartDescriptionJH" />
      <xs:enumeration value="PartDescriptionAsm" />
      <xs:enumeration value="PartDescriptionMS" />
      <xs:enumeration value="PartDescriptionSP" />
      <xs:enumeration value="OnHandQty" />
      <xs:enumeration value="SerialNoTempTranID" />
      <xs:enumeration value="IssuedComplete" />
      <xs:enumeration value="SalvageQtyToDate" />
      <xs:enumeration value="InvLbrUnitCost" />
      <xs:enumeration value="JobLbrUnitCost" />
      <xs:enumeration value="JobBurUnitCost" />
      <xs:enumeration value="JobSubUnitCost" />
      <xs:enumeration value="JobMtlBurUnitCost" />
      <xs:enumeration value="JobMtlUnitCost" />
      <xs:enumeration value="MtlLbrUnitCost" />
      <xs:enumeration value="dummyKeyField" />
      <xs:enumeration value="TreeDisplay" />
      <xs:enumeration value="MtlQueueRowId" />
      <xs:enumeration value="RevisionNumRevDescription" />
      <xs:enumeration value="RevisionNumRevShortDesc" />
      <xs:enumeration value="MultiEndParts" />
      <xs:enumeration value="DispSysTime" />
      <xs:enumeration value="GLTranDate" />
      <xs:enumeration value="FullPhysical" />
      <xs:enumeration value="GLTranAmt" />
      <xs:enumeration value="QtyAvailToComplete" />
      <xs:enumeration value="QtyBearing" />
      <xs:enumeration value="DisableFieldPart" />
      <xs:enumeration value="ThisTranQty" />
      <xs:enumeration value="DispUOM" />
      <xs:enumeration value="BinNumDescription" />
      <xs:enumeration value="DimCodeDimCodeDescription" />
      <xs:enumeration value="DMRNumPartDescription" />
      <xs:enumeration value="FromBinDescription" />
      <xs:enumeration value="FromPlantName" />
      <xs:enumeration value="FromWareHouseDescription" />
      <xs:enumeration value="JobNumPartDescription" />
      <xs:enumeration value="OrderNumCardMemberName" />
      <xs:enumeration value="OrderNumCurrencyCode" />
      <xs:enumeration value="PackNumName" />
      <xs:enumeration value="PartLotPartLotDescription" />
      <xs:enumeration value="PartNumTrackLots" />
      <xs:enumeration value="PartNumPartDescription" />
      <xs:enumeration value="PartNumSellingFactor" />
      <xs:enumeration value="PartNumTrackSerialNum" />
      <xs:enumeration value="PartNumPricePerCode" />
      <xs:enumeration value="PartNumTrackDimension" />
      <xs:enumeration value="PartNumIUM" />
      <xs:enumeration value="PartNumSalesUM" />
      <xs:enumeration value="PlantName" />
      <xs:enumeration value="VendorNumCountry" />
      <xs:enumeration value="VendorNumAddress1" />
      <xs:enumeration value="VendorNumName" />
      <xs:enumeration value="VendorNumVendorID" />
      <xs:enumeration value="VendorNumCity" />
      <xs:enumeration value="VendorNumCurrencyCode" />
      <xs:enumeration value="VendorNumAddress2" />
      <xs:enumeration value="VendorNumState" />
      <xs:enumeration value="VendorNumZIP" />
      <xs:enumeration value="VendorNumDefaultFOB" />
      <xs:enumeration value="VendorNumAddress3" />
      <xs:enumeration value="VendorNumTermsCode" />
      <xs:enumeration value="VendorPPNumCity" />
      <xs:enumeration value="VendorPPNumPrimPCon" />
      <xs:enumeration value="VendorPPNumAddress2" />
      <xs:enumeration value="VendorPPNumCountry" />
      <xs:enumeration value="VendorPPNumState" />
      <xs:enumeration value="VendorPPNumAddress3" />
      <xs:enumeration value="VendorPPNumName" />
      <xs:enumeration value="VendorPPNumZip" />
      <xs:enumeration value="VendorPPNumAddress1" />
      <xs:enumeration value="WarehouseDescription" />
      <xs:enumeration value="RowMod" />
      <xs:enumeration value="SpecifiedProperties" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PartTranListRowColumnOrder" nillable="true" type="tns:PartTranListRowColumnOrder" />
  <xs:complexType name="UpdExtPartTranTableset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Ice" base="q5:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartTran" nillable="true" type="tns:PartTranTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdExtPartTranTableset" nillable="true" type="tns:UpdExtPartTranTableset" />
</xs:schema>