EpicorConsole/Service References/Epicor.SalesOrderSvc/SalesOrder87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/SalesOrder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/SalesOrder.svc?xsd=xsd5" namespace="http://epicor.com/UserDefinedColumns" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101/Erp/BO/SalesOrder.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Epicor.Data" />
  <xs:complexType name="IceTableset">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IceTableset" nillable="true" type="tns:IceTableset" />
  <xs:complexType name="IceRow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Epicor.Data" base="q1:TempRowBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RowMod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecifiedProperties" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="SysRowID" type="ser:guid" />
          <xs:element xmlns:q2="http://epicor.com/UserDefinedColumns" minOccurs="0" name="UserDefinedColumns" nillable="true" type="q2:UserDefinedColumns" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IceRow" nillable="true" type="tns:IceRow" />
  <xs:complexType name="BOUpdErrorTableset">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IceTableset">
        <xs:sequence>
          <xs:element minOccurs="0" name="BOUpdError" nillable="true" type="tns:BOUpdErrorTable" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOUpdErrorTableset" nillable="true" type="tns:BOUpdErrorTableset" />
  <xs:complexType name="BOUpdErrorTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOUpdErrorRow" nillable="true" type="tns:BOUpdErrorRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BOUpdErrorTable" nillable="true" type="tns:BOUpdErrorTable" />
  <xs:complexType name="BOUpdErrorRow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IceRow">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorSysRowID" type="ser:guid" />
          <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ErrorType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BOUpdErrorRow" nillable="true" type="tns:BOUpdErrorRow" />
</xs:schema>