EpicorConsole/Service References/Epicor.PartSvc/Part83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Erp:BO:Part" elementFormDefault="qualified" targetNamespace="Erp:BO:Part" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Erp/BO/Part.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Erp/BO/Part.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Erp/BO/Part.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Erp/BO/Part.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ice" />
  <xs:element name="GetPartGlobalFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GlobalLock" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartGlobalFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPartGlobalFieldsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowDimensionMaintenance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowDimensionMaintenanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowInventoryInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowInventoryInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowLotMaintenance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowLotMaintenanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowPurchasingInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowPurchasingInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowViewLotCosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllowViewLotCostsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMRPWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processMRP" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMRPWarningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warningMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartBinInfoKBCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewKBCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q1:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartBinInfoKBCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q2:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartBuyToOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipBuyToOrder" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q3:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartBuyToOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q4:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartCommodityCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newCommodityCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q5:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartCommodityCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q6:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartNonStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newNonStock" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q7:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartNonStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q8:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartGlobalPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedGlobalPart" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q9:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartGlobalPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q10:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q11:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q12:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantBuyToOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipBuyToOrder" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q13:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantBuyToOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q14:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantSourceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewSourceType" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q15:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantSourceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="singleLevelConfMsg" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q16:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantUrgentVendorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewVendorId" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q17:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantUrgentVendorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q18:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantVendorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewVendorId" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q19:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartPlantVendorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q20:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartProdCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedProdCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q21:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartProdCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q22:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRestrictionManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkManual" type="xs:boolean" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q23:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRestrictionManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q24:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRestrictionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q25:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRestrictionTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q26:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRestrictSubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q27:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRestrictSubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q28:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRevApproved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipApproved" type="xs:boolean" />
        <xs:element minOccurs="0" name="ipValidPassword" type="xs:boolean" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q29:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartRevApprovedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q30:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartSNBaseDataType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipSNBaseDataType" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q31:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartSNBaseDataTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q32:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartSNMaskPrefixSuffix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipSNMaskPrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipSNMaskSuffix" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q33:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartSNMaskPrefixSuffixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q34:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartSubsPartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q35:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartSubsPartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q36:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTrackDimension">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackDimension" type="xs:boolean" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q37:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTrackDimensionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q38:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTrackLots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackLots" type="xs:boolean" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q39:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTrackLotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q40:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTrackSerialNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrackSerialNum" type="xs:boolean" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q41:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTrackSerialNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q42:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTypeCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q43:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartTypeCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q44:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartUOMConvOverride">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipConvOverrride" type="xs:boolean" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q45:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartUOMConvOverrideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q46:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartWhseKBCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewKBCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q47:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePartWhseKBCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q48:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlantSNBaseDataType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipSNBaseDataType" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q49:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlantSNBaseDataTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q50:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlantSNMaskPrefixSuffix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipSNMaskPrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipSNMaskSuffix" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q51:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePlantSNMaskPrefixSuffixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q52:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQtyBearing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newQtyBearing" type="xs:boolean" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q53:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQtyBearingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q54:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLinkToContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newLinkToContract" type="xs:boolean" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q55:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLinkToContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q56:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSNMask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipSNMask" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q57:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSNMaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q58:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUOMClassID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uomClassID" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q59:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUOMClassIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q60:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUOMCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uomCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q61:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUOMCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q62:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChanginPartRestrictSubs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSubstanceID" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q63:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChanginPartRestrictSubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q64:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAltMethodForDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipRevisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAltMethod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAltMethodForDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCOOPercents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cPartNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCOOPercentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateCOO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipOrigCountry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateCOOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPartChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q65:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPartChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cPartChangedMsgText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cPartSNChangedMsgText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMRPJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q66:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMRPJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q67:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMultiLevelRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewSourceType" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q68:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMultiLevelRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q69:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicatePart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourcePartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPartDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configuratorMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="configType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicatePartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="DuplicatePartResult" nillable="true" type="q70:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlbPartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GlbPartNumList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlbPartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetGlbPartListResult" nillable="true" type="q71:GlbPartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByConfigID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartRevWhereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="AbsolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByConfigIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListByConfigIDResult" nillable="true" type="q72:PartListTableset" />
        <xs:element minOccurs="0" name="MorePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByWarehouseBin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partWhereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="binType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zoneID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromBinNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toBinNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeNonNettable" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByWarehouseBinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListByWarehouseBinResult" nillable="true" type="q73:PartListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFilterPlants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="AbsolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFilterPlantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListFilterPlantsResult" nillable="true" type="q74:PartListTableset" />
        <xs:element minOccurs="0" name="MorePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFromSelectedKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q75:PartListTableset" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFromSelectedKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q76:PartListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartForLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartForLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetPartForLinkResult" nillable="true" type="q77:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartWhereUsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereUsedPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartWhereUsedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetPartWhereUsedResult" nillable="true" type="q78:PartWhereUsedTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartXRefInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SysRowID" type="q79:guid" />
        <xs:element minOccurs="0" name="rowType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartXRefInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialWarning" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="questionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="multipleMatch" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMRListSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="part" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDMRListSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetDMRListSearchResult" nillable="true" type="q80:PartGetDMRListTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlbPartsExist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GlbPartsExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GlbPartsExist" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasIntrastat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasIntrastatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasIntrastat" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunOutOnHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunOutOnHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRunOutOnHand" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GlbPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q81:GlbPartTableset" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q82:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkGlbPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds1" nillable="true" type="q83:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePkgCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uomCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pkgCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q84:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePkgCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q85:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePESUNAT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeType" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q86:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePESUNATResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q87:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plantCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q88:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangePlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q89:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcACWDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipMfgLeadTimeMnl" type="xs:boolean" />
        <xs:element minOccurs="0" name="ipLvlMfgLeadTimeMnl" type="xs:int" />
        <xs:element minOccurs="0" name="ipACWPercentage" type="xs:int" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q90:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcACWDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q91:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GlbPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q92:GlbPartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreLinkGlbPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q93:GlbPartTableset" />
        <xs:element minOccurs="0" name="vMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PromptForPassword">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PromptForPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opPromptForPassword" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenamePartRev">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourcePartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourcePartRevNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPartRevNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPartRevDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenamePartRevResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMRPRecalcFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMRPRecalcFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="SetMRPRecalcFlagResult" nillable="true" type="q94:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextGeneratedLotNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q95:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNextGeneratedLotNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q96:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipGlbPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q97:GlbPartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipGlbPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q98:GlbPartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlinkGlbPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="glbCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="glbPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q99:GlbPartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlinkGlbPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="UnlinkGlbPartResult" nillable="true" type="q100:PartTableset" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q101:GlbPartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipProposedInspPlan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipProposedSpecId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iptable" nillable="true" type="xs:string" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q102:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q103:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInspVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipProposedVendor" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q104:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInspVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q105:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUOMconvChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipConvUOMClassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipConvUOMIUM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUOMconvChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUOMConvTrans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipConvUOMClassID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipConvUOMIUM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUOMConvTransResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSNFormat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSNFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSNFormatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartIsActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartIsActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartIsActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartIsSalesKit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartIsSalesKitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartIsSalesKitResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsSalesKit" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsPhantom" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeDescListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opUOM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opMatchType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartFromRowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipRowType" nillable="true" type="xs:string" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ipRowID" type="q106:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartFromRowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opUOM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeSNLastUsedSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipGenSeqStr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipLastUsedSeq" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangeSNLastUsedSeqResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDupPartConfigID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDupPartConfigIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="foundConfigID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="foundDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="foundType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigIDChanging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigIDChangingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangedConfigID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newConfigID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChangedConfigIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConfigForDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipRevisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAltMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipForRevision" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConfigForDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfCurrentSiteHasExternalMES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site_ex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfCurrentSiteHasExternalMESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIfCurrentSiteHasExternalMESResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfCurrentRevIsSiteExternalMES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="site_ex" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partnum_ex" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfCurrentRevIsSiteExternalMESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIfCurrentRevIsSiteExternalMESResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestNoRevWithExternalMESForSiteValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestNoRevWithExternalMESForSiteValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestNoRevWithExternalMESForSiteValidationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalCRMIntegrationIsEnabled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalCRMIntegrationIsEnabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExternalCRMIntegrationIsEnabledResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q107:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q108:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q109:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q110:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartCOO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q111:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartCOOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q112:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartDim">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q113:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartDimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q114:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartLangDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q115:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartLangDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q116:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q117:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q118:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRestriction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q119:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRestrictionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q120:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRestrictSubst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q121:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="restrictionTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRestrictSubstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q122:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRev">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q123:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q124:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q125:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altMethod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q126:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q127:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="changeDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q128:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartCOPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q129:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altMethod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartCOPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q130:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevInspPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q131:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altMethod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevInspPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q132:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevInspPlanAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q133:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seqPlan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevInspPlanAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q134:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevInspVend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q135:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisionNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altMethod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartRevInspVendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q136:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartSubs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q137:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartSubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q138:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartPC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q139:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartPCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q140:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartWhse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q141:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartWhseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q142:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartBinInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q143:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartBinInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q144:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartUOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q145:PartTableset" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPartUOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q146:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEntityGLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q147:PartTableset" />
        <xs:element minOccurs="0" name="relatedToFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key6" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewEntityGLCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q148:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTaxExempt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q149:PartTableset" />
        <xs:element minOccurs="0" name="relatedToFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTaxExemptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q150:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetByIDResult" nillable="true" type="q151:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListResult" nillable="true" type="q152:PartListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClausePart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartCOO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartDim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartLangDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartPlant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRestriction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRestrictSubst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRev" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRevAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartAudit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartCOPart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRevInspPlan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRevInspPlanAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartRevInspVend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartSubs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartPC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartWhse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartBinInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePartUOM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseEntityGLC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClauseTaxExempt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetRowsResult" nillable="true" type="q153:PartTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q154:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBySysRowIDResult" nillable="true" type="q155:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q156:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBySysRowIDsResult" nillable="true" type="q157:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q158:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q159:PartTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q160:UpdExtPartTableset" />
        <xs:element minOccurs="0" name="continueProcessingOnError" type="xs:boolean" />
        <xs:element minOccurs="0" name="rollbackParentOnChildError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Ice" minOccurs="0" name="UpdateExtResult" nillable="true" type="q161:BOUpdErrorTableset" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q162:UpdExtPartTableset" />
        <xs:element minOccurs="0" name="errorsOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>