EpicorConsole/Service References/Epicor.POSvc/PO3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Erp:BO:PO" elementFormDefault="qualified" targetNamespace="Erp:BO:PO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dms_server.greenvet.com/ERP101500/Erp/BO/PO.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Erp.Tablesets" />
  <xs:import schemaLocation="http://dms_server.greenvet.com/ERP101500/Erp/BO/PO.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://dms_server.greenvet.com/ERP101500/Erp/BO/PO.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dms_server.greenvet.com/ERP101500/Erp/BO/PO.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ice" />
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetListResult" nillable="true" type="q1:POHeaderListTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRows">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClausePOHeader" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePOHeaderAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePODetail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePODetailAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePORel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePORelAttch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePORelTax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePORelTGLC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePODetailInsp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePOMisc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePOMiscTax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePOHeadMisc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePOHeaderTax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whereClausePOHeadMiscTax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetRowsResult" nillable="true" type="q2:POTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBySysRowIDResult" nillable="true" type="q4:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q5:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySysRowIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetBySysRowIDsResult" nillable="true" type="q6:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q7:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q8:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q9:UpdExtPOTableset" />
        <xs:element minOccurs="0" name="continueProcessingOnError" type="xs:boolean" />
        <xs:element minOccurs="0" name="rollbackParentOnChildError" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ice" minOccurs="0" name="UpdateExtResult" nillable="true" type="q10:BOUpdErrorTableset" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q11:UpdExtPOTableset" />
        <xs:element minOccurs="0" name="errorsOccurred" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcAutoPORelTGLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calcTranType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcAutoPORelTGLCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcAutoPORelTGLCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBeforeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q12:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBeforeUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cOrderChangedMsgText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taxableChangedMsgText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vendorChangedMsgText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLOC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q13:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLOCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="opMsg" nillable="true" type="q14:ArrayOfstring" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q15:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPONum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedPONum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPONumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opFoundPO" type="xs:boolean" />
        <xs:element minOccurs="0" name="opMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chkPODatesChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="viewName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q16:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chkPODatesChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cOrderChangedMsgText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="CloseOrderResult" nillable="true" type="q17:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoNum" type="xs:int" />
        <xs:element minOccurs="0" name="PoLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="CloseOrderLineResult" nillable="true" type="q18:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoNum" type="xs:int" />
        <xs:element minOccurs="0" name="PoLine" type="xs:int" />
        <xs:element minOccurs="0" name="PoRelease" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="CloseReleaseResult" nillable="true" type="q19:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicatePO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="copyUnitCosts" type="xs:boolean" />
        <xs:element minOccurs="0" name="copyJobInfo" type="xs:boolean" />
        <xs:element minOccurs="0" name="getLatestSupplierPrice" type="xs:boolean" />
        <xs:element minOccurs="0" name="getLatestRevision" type="xs:boolean" />
        <xs:element minOccurs="0" name="newDueDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newPromiseDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="newBuyerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicatePOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="DuplicatePOResult" nillable="true" type="q20:POTableset" />
        <xs:element minOccurs="0" name="cJobMTLIssuedComplete" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPLOCDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poAPLOCID" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q21:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAPLOCDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q22:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDescListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodeDescListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyBase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opCurrencyBase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultBuyer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultBuyerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefaultBuyerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="buyerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyerIDName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultGLAccountAllPOReleases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPONum" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q23:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultGLAccountAllPOReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q24:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewConsolidatedPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q25:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewConsolidatedPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q26:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewContractPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q27:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewContractPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q28:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlbCompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlbCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GlbCompanyList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartSubList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="absolutePage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartSubListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetPartSubListResult" nillable="true" type="q29:PartSubsTableset" />
        <xs:element minOccurs="0" name="morePages" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReceipts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPONum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOReceiptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetPOReceiptsResult" nillable="true" type="q30:POReceiptsTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ReopenOrderResult" nillable="true" type="q31:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoNum" type="xs:int" />
        <xs:element minOccurs="0" name="PoLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReopenOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ReopenOrderLineResult" nillable="true" type="q32:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReOpenRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PoNum" type="xs:int" />
        <xs:element minOccurs="0" name="PoLine" type="xs:int" />
        <xs:element minOccurs="0" name="PoRelease" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReOpenReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ReOpenReleaseResult" nillable="true" type="q33:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReadyToCalc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPONum" type="xs:int" />
        <xs:element minOccurs="0" name="ipCalledFromUI" type="xs:boolean" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q34:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReadyToCalcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q35:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeContractUOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewUOM" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q36:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeContractUOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q37:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailAssemblySeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewAsmSeq" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q38:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailAssemblySeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q39:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailCalcOurQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewCalcOurQty" type="xs:decimal" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q40:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailCalcOurQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q41:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailCalcVendQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewCalcVendQty" type="xs:decimal" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q42:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailCalcVendQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q43:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailIUM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewIUM" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q44:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailIUMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q45:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailJobNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewJobNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q46:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailJobNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q47:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailJobSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewJobSeqNum" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q48:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailJobSeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q49:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailMangCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewMangCust" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q50:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailMangCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q51:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailMfgNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newMfgNum" type="xs:int" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q52:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailMfgNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q53:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailMfgPartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newMfgPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q54:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailMfgPartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q55:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipOrderLine" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q56:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q57:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailOrderNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipOrderNum" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q58:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailOrderNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q59:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailOverridePriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="overridePriceList" type="xs:boolean" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q60:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailOverridePriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q61:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailPartClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewClassID" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q62:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailPartClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q63:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailPartNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPartNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="SysRowID" type="q64:guid" />
        <xs:element minOccurs="0" name="rowType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSubstitute" type="xs:boolean" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q65:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailPartNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="multipleMatch" type="xs:boolean" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q66:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailPUM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPUM" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q67:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailPUMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q68:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailRevisionNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q69:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailRevisionNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q70:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailTaxCatID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newTaxCatID" nillable="true" type="xs:string" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q71:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailTaxCatIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q72:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailTranType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewTranType" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q73:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeDetailTranTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q74:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangingDetailRevisionNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q75:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangingDetailRevisionNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangingDetailRevisionNumResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q76:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUnitPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q77:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUnitPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q78:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUnitPriceConfirmOverride">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q79:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUnitPriceConfirmOverrideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q80:POTableset" />
        <xs:element minOccurs="0" name="sConfirmMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQtyOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipQtyOption" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q81:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQtyOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q82:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasePartForConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sourceSysRowID" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasePartForConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cfgPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cfgRevisionNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantsForPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPartNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantsForPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opPlantList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartStatusValidationMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valpartnum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartStatusValidationMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valpartnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuestionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubstitutePartAvail" type="xs:boolean" />
        <xs:element minOccurs="0" name="MsgType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeApproveSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveValue" type="xs:boolean" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q84:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeApproveSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViolationMsg" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q85:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangedApproveSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q86:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangedApproveSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q87:POTableset" />
        <xs:element minOccurs="0" name="violationMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q88:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q89:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrencyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iCurrencyCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q90:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrencyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q91:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOTaxRegionCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newTaxRegionCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q92:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOTaxRegionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q93:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newPOType" nillable="true" type="xs:string" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q94:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q95:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrcConNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrcConNum" type="xs:int" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q96:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrcConNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q97:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrcConNumByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prcConName" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q98:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrcConNumByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prcConNum" type="xs:int" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q99:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePurPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurPoint" nillable="true" type="xs:string" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q100:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePurPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q101:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VendID" nillable="true" type="xs:string" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q102:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q103:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRateGrpCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipRateGrpCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q104:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckRateGrpCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q105:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangedHeaderTaxManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q106:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangedHeaderTaxManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q107:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxFixedAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedFixedAmt" type="xs:decimal" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q108:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxFixedAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q109:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxPercent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedTaxPercent" type="xs:decimal" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q110:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxPercentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q111:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxRateCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q112:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxRateCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q113:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxRateCodeMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedRateCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q114:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxRateCodeMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q115:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxReportableAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedReportableAmt" type="xs:decimal" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q116:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxReportableAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q117:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxableAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedTaxableAmt" type="xs:decimal" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q118:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxableAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q119:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedTaxAmt" type="xs:decimal" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q120:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q121:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedTaxCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q122:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q123:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxDeductable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedTaxDeductable" type="xs:decimal" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q124:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeHeaderTaxTaxDeductableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q125:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrencySwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q126:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCurrencySwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q127:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOHeadMiscAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedMiscAmt" type="xs:decimal" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q128:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOHeadMiscAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q129:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOHeadMiscCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newMiscCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q130:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOHeadMiscCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q131:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOHeadMiscPrcnt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q132:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOHeadMiscPrcntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q133:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOMiscAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedMiscAmt" type="xs:decimal" />
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q134:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOMiscAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q135:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOMiscCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newMiscCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q136:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOMiscCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q137:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePoMiscCurrSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q138:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePoMiscCurrSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q139:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOMiscPrcnt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q140:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePOMiscPrcntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q141:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelAssemblySeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewAsmSeq" type="xs:int" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q142:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelAssemblySeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q143:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelGlbCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedGlbCompany" nillable="true" type="xs:string" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q144:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelGlbCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q145:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelGlbPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedGlbPlant" nillable="true" type="xs:string" />
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q146:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelGlbPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q147:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelGlbWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposedGlbWarehouse" nillable="true" type="xs:string" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q148:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelGlbWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q149:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelIUM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewIUM" nillable="true" type="xs:string" />
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q150:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelIUMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q151:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelJobNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewJobNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q152:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelJobNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q153:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelJobSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewJobSeqNum" type="xs:int" />
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q154:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelJobSeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q155:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelJobSeqWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipTranType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipJobNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAssemblySeq" type="xs:int" />
        <xs:element minOccurs="0" name="ipNewJobSeq" type="xs:int" />
        <xs:element minOccurs="0" name="ipPODtlPartNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipPODtlRevNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelJobSeqWarningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opWrnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBTOOrderLineWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipOrderNum" type="xs:int" />
        <xs:element minOccurs="0" name="ipOrderLine" type="xs:int" />
        <xs:element minOccurs="0" name="ipPONum" type="xs:int" />
        <xs:element minOccurs="0" name="ipPOLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBTOOrderLineWarningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opWrnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelMangCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewMangCust" nillable="true" type="xs:string" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q156:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelMangCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q157:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipOrderLine" type="xs:int" />
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q158:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q159:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOrderNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipOrderNum" type="xs:int" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q160:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOrderNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q161:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOrderRelNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipOrderRelNum" type="xs:int" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q162:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOrderRelNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q163:POTableset" />
        <xs:element minOccurs="0" name="opWrnMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOurQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewOurQty" type="xs:decimal" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q164:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelOurQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q165:POTableset" />
        <xs:element minOccurs="0" name="opWarningMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelPlant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newPlant" nillable="true" type="xs:string" />
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q166:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelPlantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q167:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelPUM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewPUM" nillable="true" type="xs:string" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q168:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelPUMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q169:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelTaxExempt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newTaxExempt" nillable="true" type="xs:string" />
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q170:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelTaxExemptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q171:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelVendQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewVendQty" type="xs:decimal" />
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q172:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeRelVendQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q173:POTableset" />
        <xs:element minOccurs="0" name="opWarningMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePORelContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipContractID" nillable="true" type="xs:string" />
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q174:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePORelContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipContractID" nillable="true" type="xs:string" />
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q175:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTranType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newTranType" nillable="true" type="xs:string" />
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q176:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTranTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q177:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckComplianceFail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckComplianceFailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compliant" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProjectID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipProjectID" nillable="true" type="xs:string" />
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q178:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckProjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q179:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultGLAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPONum" type="xs:int" />
        <xs:element minOccurs="0" name="pPOLine" type="xs:int" />
        <xs:element minOccurs="0" name="pPORelNum" type="xs:int" />
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q180:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultGLAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q181:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxReportableAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedReportableAmt" type="xs:decimal" />
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q182:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxReportableAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q183:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxTaxableAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedTaxableAmt" type="xs:decimal" />
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q184:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxTaxableAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q185:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxTaxAmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedTaxAmt" type="xs:decimal" />
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q186:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxTaxAmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q187:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxDeductable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedTaxDeductable" type="xs:decimal" />
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q188:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxDeductableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q189:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxTaxCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedTaxCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q190:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxTaxCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q191:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxRateCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedRateCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q192:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxRateCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q193:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxPercent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proposedTaxPercent" type="xs:decimal" />
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q194:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeTaxPercentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q195:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeExpAcct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proposedAccountNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inTGLCTranNum" type="xs:int" />
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q196:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeExpAcctResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q197:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAcctForGLControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipPONum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAcctForGLControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ipProposedInspPlan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipProposedSpecId" nillable="true" type="xs:string" />
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q198:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateInspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q199:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidataPartToLinkToContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bLinkToContract" type="xs:boolean" />
        <xs:element minOccurs="0" name="partNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidataPartToLinkToContractResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q200:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q201:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeaderAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q202:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeaderAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q203:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPODetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q204:POTableset" />
        <xs:element minOccurs="0" name="poNUM" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPODetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q205:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPODetailAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q206:POTableset" />
        <xs:element minOccurs="0" name="poNUM" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPODetailAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q207:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q208:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q209:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelAttch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q210:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
        <xs:element minOccurs="0" name="poRelNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelAttchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q211:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q212="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q212:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
        <xs:element minOccurs="0" name="poRelNum" type="xs:int" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q213:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelTGLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q214:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
        <xs:element minOccurs="0" name="poRelNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPORelTGLCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q215="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q215:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPODetailInsp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q216:POTableset" />
        <xs:element minOccurs="0" name="poNUM" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPODetailInspResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q217:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOMisc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q218="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q218:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOMiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q219:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOMiscTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q220:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
        <xs:element minOccurs="0" name="poRelNum" type="xs:int" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOMiscTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q221="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q221:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeadMisc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q222:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeadMiscResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q223="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q223:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeaderTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q224="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q224:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeaderTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q225="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q225:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeadMiscTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q226="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q226:POTableset" />
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
        <xs:element minOccurs="0" name="poLine" type="xs:int" />
        <xs:element minOccurs="0" name="poRelNum" type="xs:int" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewPOHeadMiscTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q227="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="ds" nillable="true" type="q227:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q228="http://schemas.datacontract.org/2004/07/Erp.Tablesets" minOccurs="0" name="GetByIDResult" nillable="true" type="q228:POTableset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>