EpicorConsole/Service References/Epicor.POSvc/PO84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ice.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ice.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Erp/BO/PO.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EpicorFaultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataList" nillable="true" type="tns:ArrayOfEpicorExceptionData" />
      <xs:element minOccurs="0" name="ExceptionKindValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerFaultDetail" nillable="true" type="tns:EpicorFaultDetail" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_exKindQualifiedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_exceptionQualifiedName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpicorFaultDetail" nillable="true" type="tns:EpicorFaultDetail" />
  <xs:complexType name="ArrayOfEpicorExceptionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EpicorExceptionData" nillable="true" type="tns:EpicorExceptionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEpicorExceptionData" nillable="true" type="tns:ArrayOfEpicorExceptionData" />
  <xs:complexType name="EpicorExceptionData">
    <xs:sequence>
      <xs:element name="m_ColumnNumber" type="xs:int" />
      <xs:element name="m_LineNumber" type="xs:int" />
      <xs:element name="m_Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_MessageDetails" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="m_Method" nillable="true" type="xs:string" />
      <xs:element name="m_Program" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_Properties" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element name="m_TraceStack" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="m_UserProperties" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EpicorExceptionData" nillable="true" type="tns:EpicorExceptionData" />
</xs:schema>