EpicorConsole/Service References/Epicor.PriceLstPartsSvc/PriceLstParts3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://epicor.com/UserDefinedColumns" elementFormDefault="qualified" targetNamespace="http://epicor.com/UserDefinedColumns" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDefinedColumns">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Column">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDefinedColumns" nillable="true" type="tns:UserDefinedColumns" />
</xs:schema>