EpicorConsole/Service References/Epicor.SessionModSvc/SessionMod1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Ice:Lib:SessionMod" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Ice:Lib:SessionMod" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Ice:Lib:SessionMod/Imports">
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd0" namespace="Ice:Lib:SessionMod" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ice.Common" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Ice.Tablesets" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Ice" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Epicor.Data" />
      <xsd:import schemaLocation="http://erp.greenvet.com/Epicor101/Ice/Lib/SessionMod.svc?xsd=xsd8" namespace="http://epicor.com/UserDefinedColumns" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SessionModSvcContract_GetSolutionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolutionID" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetSolutionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolutionIDResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetSolutionID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q1:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicense" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetLicense_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q2:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetModuleAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleAccess" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetModuleAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModuleAccessResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetModuleAccess_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q3:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCompany" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetCompany_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q4:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetDateFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDateFormat" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetDateFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDateFormatResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetDateFormat_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q5:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SetEmployee" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetEmployee_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q6:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLanguage" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetLanguage_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q7:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetPlant_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPlant" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetPlant_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPlantResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetPlant_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q8:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUser" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetUser_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q9:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetWorkstation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetWorkstation" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetWorkstation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetWorkstationResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetWorkstation_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q10:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetTaskClientID_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTaskClientID" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetTaskClientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTaskClientIDResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_SetTaskClientID_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q11:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Handshake_InputMessage">
    <wsdl:part name="parameters" element="tns:Handshake" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Handshake_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandshakeResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Handshake_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q12:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_UpdateSeedData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeedData" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_UpdateSeedData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSeedDataResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_UpdateSeedData_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q13:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_HandshakeBaseVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:HandshakeBaseVersion" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_HandshakeBaseVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandshakeBaseVersionResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_HandshakeBaseVersion_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q14:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Sync_InputMessage">
    <wsdl:part name="parameters" element="tns:Sync" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Sync_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Sync_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q15:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Login_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q16:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_Logout_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q17:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguage" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetLanguage_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q18:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_InMobileConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:InMobileConnect" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_InMobileConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:InMobileConnectResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_InMobileConnect_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q19:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_IsValidSession_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidSession" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_IsValidSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidSessionResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_IsValidSession_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q20:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetCustomVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomVersion" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetCustomVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomVersionResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetCustomVersion_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q21:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetPatchLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatchLevel" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetPatchLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatchLevelResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetPatchLevel_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q22:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetPatchLevelApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatchLevelApp" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetPatchLevelApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatchLevelAppResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetPatchLevelApp_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q23:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetRequiredDBVersionApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequiredDBVersionApp" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetRequiredDBVersionApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequiredDBVersionAppResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetRequiredDBVersionApp_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q24:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetSystemCodeApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemCodeApp" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetSystemCodeApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSystemCodeAppResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetSystemCodeApp_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q25:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetBaseLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaseLevel" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetBaseLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaseLevelResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetBaseLevel_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q26:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetBaseLevelApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaseLevelApp" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetBaseLevelApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaseLevelAppResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetBaseLevelApp_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q27:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetServerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfo" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetServerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetServerInfo_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q28:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetCurrentValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentValues" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetCurrentValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentValuesResponse" />
  </wsdl:message>
  <wsdl:message name="SessionModSvcContract_GetCurrentValues_EpicorFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/Ice.Common" name="detail" element="q29:EpicorFaultDetail" />
  </wsdl:message>
  <wsdl:portType name="SessionModSvcContract">
    <wsdl:operation name="GetSolutionID">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetSolutionID" message="tns:SessionModSvcContract_GetSolutionID_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetSolutionIDResponse" message="tns:SessionModSvcContract_GetSolutionID_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetSolutionIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetSolutionID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicense">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetLicense" message="tns:SessionModSvcContract_GetLicense_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetLicenseResponse" message="tns:SessionModSvcContract_GetLicense_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetLicenseEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetLicense_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModuleAccess">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetModuleAccess" message="tns:SessionModSvcContract_GetModuleAccess_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetModuleAccessResponse" message="tns:SessionModSvcContract_GetModuleAccess_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetModuleAccessEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetModuleAccess_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCompany">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetCompany" message="tns:SessionModSvcContract_SetCompany_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetCompanyResponse" message="tns:SessionModSvcContract_SetCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetCompanyEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetCompany_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDateFormat">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetDateFormat" message="tns:SessionModSvcContract_SetDateFormat_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetDateFormatResponse" message="tns:SessionModSvcContract_SetDateFormat_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetDateFormatEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetDateFormat_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetEmployee">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetEmployee" message="tns:SessionModSvcContract_SetEmployee_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetEmployeeResponse" message="tns:SessionModSvcContract_SetEmployee_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetEmployeeEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetEmployee_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLanguage">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetLanguage" message="tns:SessionModSvcContract_SetLanguage_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetLanguageResponse" message="tns:SessionModSvcContract_SetLanguage_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetLanguageEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetLanguage_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPlant">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetPlant" message="tns:SessionModSvcContract_SetPlant_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetPlantResponse" message="tns:SessionModSvcContract_SetPlant_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetPlantEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetPlant_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetUser" message="tns:SessionModSvcContract_SetUser_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetUserResponse" message="tns:SessionModSvcContract_SetUser_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetUserEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetUser_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetWorkstation">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetWorkstation" message="tns:SessionModSvcContract_SetWorkstation_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetWorkstationResponse" message="tns:SessionModSvcContract_SetWorkstation_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetWorkstationEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetWorkstation_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTaskClientID">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetTaskClientID" message="tns:SessionModSvcContract_SetTaskClientID_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetTaskClientIDResponse" message="tns:SessionModSvcContract_SetTaskClientID_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SetTaskClientIDEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_SetTaskClientID_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Handshake">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/Handshake" message="tns:SessionModSvcContract_Handshake_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/HandshakeResponse" message="tns:SessionModSvcContract_Handshake_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/HandshakeEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_Handshake_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSeedData">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/UpdateSeedData" message="tns:SessionModSvcContract_UpdateSeedData_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/UpdateSeedDataResponse" message="tns:SessionModSvcContract_UpdateSeedData_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/UpdateSeedDataEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_UpdateSeedData_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandshakeBaseVersion">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/HandshakeBaseVersion" message="tns:SessionModSvcContract_HandshakeBaseVersion_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/HandshakeBaseVersionResponse" message="tns:SessionModSvcContract_HandshakeBaseVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/HandshakeBaseVersionEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_HandshakeBaseVersion_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sync">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/Sync" message="tns:SessionModSvcContract_Sync_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SyncResponse" message="tns:SessionModSvcContract_Sync_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/SyncEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_Sync_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/Login" message="tns:SessionModSvcContract_Login_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/LoginResponse" message="tns:SessionModSvcContract_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/LoginEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_Login_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/Logout" message="tns:SessionModSvcContract_Logout_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/LogoutResponse" message="tns:SessionModSvcContract_Logout_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/LogoutEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_Logout_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguage">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetLanguage" message="tns:SessionModSvcContract_GetLanguage_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetLanguageResponse" message="tns:SessionModSvcContract_GetLanguage_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetLanguageEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetLanguage_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InMobileConnect">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/InMobileConnect" message="tns:SessionModSvcContract_InMobileConnect_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/InMobileConnectResponse" message="tns:SessionModSvcContract_InMobileConnect_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/InMobileConnectEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_InMobileConnect_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidSession">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/IsValidSession" message="tns:SessionModSvcContract_IsValidSession_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/IsValidSessionResponse" message="tns:SessionModSvcContract_IsValidSession_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/IsValidSessionEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_IsValidSession_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomVersion">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetCustomVersion" message="tns:SessionModSvcContract_GetCustomVersion_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetCustomVersionResponse" message="tns:SessionModSvcContract_GetCustomVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetCustomVersionEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetCustomVersion_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatchLevel">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetPatchLevel" message="tns:SessionModSvcContract_GetPatchLevel_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetPatchLevelResponse" message="tns:SessionModSvcContract_GetPatchLevel_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetPatchLevelEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetPatchLevel_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatchLevelApp">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetPatchLevelApp" message="tns:SessionModSvcContract_GetPatchLevelApp_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetPatchLevelAppResponse" message="tns:SessionModSvcContract_GetPatchLevelApp_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetPatchLevelAppEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetPatchLevelApp_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequiredDBVersionApp">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetRequiredDBVersionApp" message="tns:SessionModSvcContract_GetRequiredDBVersionApp_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetRequiredDBVersionAppResponse" message="tns:SessionModSvcContract_GetRequiredDBVersionApp_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetRequiredDBVersionAppEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetRequiredDBVersionApp_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSystemCodeApp">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetSystemCodeApp" message="tns:SessionModSvcContract_GetSystemCodeApp_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetSystemCodeAppResponse" message="tns:SessionModSvcContract_GetSystemCodeApp_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetSystemCodeAppEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetSystemCodeApp_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaseLevel">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetBaseLevel" message="tns:SessionModSvcContract_GetBaseLevel_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetBaseLevelResponse" message="tns:SessionModSvcContract_GetBaseLevel_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetBaseLevelEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetBaseLevel_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaseLevelApp">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetBaseLevelApp" message="tns:SessionModSvcContract_GetBaseLevelApp_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetBaseLevelAppResponse" message="tns:SessionModSvcContract_GetBaseLevelApp_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetBaseLevelAppEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetBaseLevelApp_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerInfo">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetServerInfo" message="tns:SessionModSvcContract_GetServerInfo_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetServerInfoResponse" message="tns:SessionModSvcContract_GetServerInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetServerInfoEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetServerInfo_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentValues">
      <wsdl:input wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetCurrentValues" message="tns:SessionModSvcContract_GetCurrentValues_InputMessage" />
      <wsdl:output wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetCurrentValuesResponse" message="tns:SessionModSvcContract_GetCurrentValues_OutputMessage" />
      <wsdl:fault wsaw:Action="Ice:Lib:SessionMod/SessionModSvcContract/GetCurrentValuesEpicorFaultDetailFault" name="EpicorFaultDetailFault" message="tns:SessionModSvcContract_GetCurrentValues_EpicorFaultDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>