EpicorConsole/Service References/Epicor.SessionModSvc/SessionMod6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Ice/Lib/SessionMod.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Ice/Lib/SessionMod.svc?xsd=xsd8" namespace="http://epicor.com/UserDefinedColumns" />
  <xs:import schemaLocation="http://erp.greenvet.com/Epicor101Train/Ice/Lib/SessionMod.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Epicor.Data" />
  <xs:complexType name="IceTableset">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IceTableset" nillable="true" type="tns:IceTableset" />
  <xs:complexType name="IceRow">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Epicor.Data" base="q1:TempRowBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RowMod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpecifiedProperties" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="SysRowID" type="ser:guid" />
          <xs:element xmlns:q2="http://epicor.com/UserDefinedColumns" minOccurs="0" name="UserDefinedColumns" nillable="true" type="q2:UserDefinedColumns" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IceRow" nillable="true" type="tns:IceRow" />
</xs:schema>